@media screen and (min-width: 1130px) and (max-width: 1300px) {
    .main2{
        display: flex;
    }

    .main1{
        width: 70%;
    }


    .nav{
        width: 145%;
    }

    
    .search{
        width: 137%;
    }

    .logo2{
        width: 48px;
        height: 48px;
    }

    .logo2 img{
        width: 48px;
        height: 48px;
    }

    .holder{
        width: 50%;
    }

    .borderbot{
        width: 460px;
    }

    .title{
        font-size: 18px;
        font-weight: 500;
    }

    .title span{
        font-size: 12px;
        margin-right: -140px;
    }

    .main2{
        width: 90%;
    }
    
    
    .img img{
        width: 280px;
        height: 280px;
    }
    
    .main2 p{
        font-size: 31px;
    }
    
    .paragraph p{
        font-size: 13px;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1130px) {
    .main2{
        display: flex;
    }

    .main1{
        width: 72%;
    }


    .nav{
        width: 147%;
    }

    
    .search{
        width: 138%;
    }

    .logo2{
        width: 48px;
        height: 48px;
    }

    .logo2 img{
        width: 48px;
        height: 48px;
    }

    .holder{
        width: 50%;
    }

    .borderbot{
        width: 410px;
    }

    .title{
        font-size: 18px;
        font-weight: 500;
    }

    .title span{
        font-size: 12px;
        margin-right: -140px;
    }

    .tick{
        width: 400px;
    }

    .tick p{
        width: 400px;
    }

    .main2{
        width: 90%;
    }
    
    
    .img img{
        width: 275px;
        height: 275px;
    }
    
    .main2 p{
        font-size: 28px;
    }
    
    .paragraph p{
        font-size: 12px;
    }

}

@media screen and (min-width: 900px) and (max-width: 1024px) {
    .main2{
        display: flex;
    }

    .main1{
        width: 84%;
    }


    .nav{
        width: 160%;
    }

    
    .search{
        width: 151%;
    }

    .logo2{
        width: 47px;
        height: 47px;
    }

    .logo2 img{
        width: 47px;
        height: 47px;
    }

    .holder{
        width: 50%;
    }

    .borderbot{
        width: 410px;
    }

    .title{
        font-size: 18px;
        font-weight: 500;
    }

    .title span{
        font-size: 12px;
        margin-right: -170px;
    }

    .tick{
        width: 400px;
    }

    .tick p{
        width: 400px;
    }

    .main2{
        width: 90%;
    }
    
    
    .img img{
        width: 270px;
        height: 270px;
    }
    
    .main2 p{
        font-size: 26px;
    }
    
    .paragraph p{
        font-size: 11px;
    }

}

@media screen and (min-width: 768px) and (max-width: 900px) {
    .main2{
        display: flex;
    }

    .main1{
        width: 70%;
    }


    .nav{
        width: 144%;
    }

    
    .search{
        width: 131%;
    }

    .logo2{
        width: 47px;
        height: 47px;
    }

    .logo2 img{
        width: 47px;
        height: 47px;
    }

    .holder{
        width: 50%;
    }

    .borderbot{
        width: 310px;
    }

    .title{
        font-size: 18px;
        font-weight: 500;
    }

    .title span{
        font-size: 12px;
        margin-right: -100px;
    }

    .tick{
        width: 230px;
    }

    .tick p{
        width: 230px;
    }

    .main2{
        width: 90%;
    }

    
    
    .img img{
        width: 250px;
        height: 250px;
    }
    
    .main2 p{
        font-size: 26px;
    }
    
    .paragraph p{
        font-size: 11px;
    }

}

@media screen and (min-width: 500px) and (max-width: 768px) {
    .main2{
        display: none;
    }

    .main1{
        width: 100%;
    }


    .nav{
        width: 333%;
    }

    
    .search{
        width: 320%;
    }

    .logo2{
        width: 43px;
        height: 43px;
    }

    .logo2 img{
        width: 43px;
        height: 43px;
    }

    .holder{
        width: 76%;
    }
    

    .borderbot{
        width: 688px;
    }

    .title{
        font-size: 18px;
        font-weight: 500;
    }

    .title span{
        font-size: 12px;
        margin-right: -60px;
    }

}

@media screen and (min-width: 425px) and (max-width: 500px) {
    .main2{
        display: none;
    }

    .main1{
        width: 500%;
    }


    .nav{
        width: 330%;
    }

    
    .search{
        width: 311%;
    }

    .logo2{
        width: 43px;
        height: 43px;
    }

    .logo2 img{
        width: 43px;
        height: 43px;
    }

    .holder{
        width: 76%;
    }

    .borderbot{
        width: 420px;
    }

    .title{
        font-size: 18px;
        font-weight: 500;
    }

    .title span{
        font-size: 12px;
        margin-right: -40px;
    }

    .tick{
        font-size: 13px;
    }

    
}

@media screen and (min-width: 375px) and (max-width: 425px) {
    .main2{
        display: none;
    }

    .main1{
        width: 500%;
    }


    .nav{
        width: 330%;
    }

    
    .search{
        width: 310%;
    }

    .logo2{
        width: 43px;
        height: 43px;
    }

    .logo2 img{
        width: 43px;
        height: 43px;
    }

    .holder{
        width: 76%;
    }

    .borderbot{
        width: 345px;
    }

    .title{
        font-size: 18px;
    }

    .title span{
        font-size: 11px;
    }

    .tick{
        font-size: 13px;
    }

    
}

@media screen and (min-width: 320px) and (max-width:375px) {
    .main2{
        display: none;
    }

    .main1{
        width: 500%;
    }


    .nav{
        width: 330%;
    }

    
    .search{
        width: 300%;
    }

    .logo2{
        width: 42px;
        height: 42px;
    }

    .logo2 img{
        width: 42px;
        height: 42px;
    }

    .holder{
        width: 76%;
    }

    .borderbot{
        width: 295px;
    }

    .title{
        font-size: 17px;
    }

    .title span{
        font-size: 11px;
    }

    .tick{
        font-size: 12px;
    }

    
}

@media screen and (max-width: 320px) {
    .main2{
        display: none;
    }

    .main1{
        width: 500%;

    }

    .nav{
        width: 329%;
    }

    
    .search{
        width: 300%;
    }

    .logo2{
        width: 40px;
        height: 40px;
    }

    .logo2 img{
        width: 41px;
        height: 41px;
    }

    .holder{
        width: 76%;
    }

    .borderbot{
        width: 240px;
    }

    .title{
        font-size: 16px;
    }

    .title span{
        font-size: 10px;
        margin-right: -10px;
    }

    .tick{
        font-size: 12px;
    }

    
}